<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div class="form-wrap">
            <form action="/members/create" method="post">
                <h2>Bli medlem</h2>
                <input type="text" name="name" id="name" placeholder="Fullständigt namn" required>
                <br>
                <input type="text" name="email" id="email" placeholder="E-postadress" required>
                <br>
                <input type="text" name="number" id="number" placeholder="Telefonnummer" required>
                <br>
                <input type="favFruits" name="favFruits" id="favFruits" placeholder="Favorit frukt">
                <br>
                <input type="date" name="date" id="date" placeholder="Dagens datum" required>
                <br>
                <button>Spara</button>
            </form>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>