<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="navbar">
            <h1 class="logo"><span>Smoothie</span> Klubben</h1>
            <ul class="nav-links">
                <li class="nav-link">
                    <a href="/">Startsida</a>
                </li>
                <li class="nav-link">
                    <a href="/members">Medlemslista</a>
                </li>
                <li class="nav-link">
                    <a href="/members/create">Bli medlem</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>