<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div class="hero">
            <div class="hero-text">
                <h2><span>Välkommen!</span></h2>
                <h3>Här på Smoothie Klubben tror vi på att en hälsosam livstil börjar med en god och näringsrik smoothie.</h3>
                <ul class="info-list">
                    <li>
                        <p>
                            <b>Utforska nya recept:</b> Vår klubb är rena guldgruvan för att hitta kreativa och 
                            unika recept. Våra medlemmar delar med sig av recept dagligen så att du kan hitta din
                            nya favorit smoothie.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Tips och råd:</b> Vi erbjuder värdefulla tips från våra experter inom området. 
                            Lär dig om ingredienser och tekniker för att uppnå den perfekta konsistensen. 
                            Våra medlemmar älskar att dela med sig av sin kunskap och erfarenheter så att 
                            du kan uppnå dina mål.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Utmaningar och event:</b> Vi organiserar regelbundet olika utmaningar och events.
                            En utmaning kan vara att skapa en smoothies utifrån ett speciellt tema. Det sker alltid 
                            något spännande i vårat community. Delta, tävla och vinn priser.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Resurser och rekommendationer:</b> Letar du efter de bästa blandarna eller förvarings lösningar 
                            för smoothies? Våra medlemmar delar med sig av sina rekommendationer för att hjälpa dig 
                            att fatta rätt beslut gällande förnodenheter.
                        </p>
                    </li>
                </ul>
                <div class="apply-btn">
                    <a href="/members/create">Bli medlem</a>
                </div>
            </div>
            <div class="hero-gif">
                <img src="giphy.gif" alt="">
            </div>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>